# NOTE: the url and the publishable key can be found 
# after the 'supabase start' command is executed
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# NOTE: the webhook secret token = a passphrase
TELEGRAM_BOT_TOKEN=123456:ABCDEF...
TELEGRAM_WEBHOOK_SECRET_TOKEN=your-webhook-secret
TELEGRAM_BOT_USERNAME=project_hermes_<your_name>_bot

GOOGLE_GENERATIVE_AI_API_KEY=<your-api-key>
